
@{
    Layout = "~/Views/Shared/_Layout Empleado.cshtml";
}

@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-info card-header-text h4">
                <div class="card-icon">
                    <i class="material-icons">attach_money</i>
                </div>
                <h4 class="card-title">Listado de Pago</h4>
            </div>
            <div class="card-body ">
                <div class="row col-md-12">

                </div>
                <br />
                <div class="row">

                    <div class="col-md-12">
                        @Html.EJS().Grid("Grid").AllowPdfExport().AllowExcelExport().ToolbarClick("toolbarClick").AllowResizing(true).AllowTextWrap().AllowSorting().AllowFiltering().Width("auto").AllowResizing().Columns(col =>
                   {
                       col.Field("id_Bitacora").HeaderText("Numero de recibo").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(true).Add();
                       col.Field("Nombre").HeaderText("Nombre").Visible(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                       col.Field("FechaDePago").HeaderText("FechaDePago").Format("yMd").Type("Date").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                       col.Field("Abono").HeaderText("Abono").Visible(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                       col.Field("PagoMinimo").HeaderText("PagoMinimo").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                       col.Field("IdVentaAuto").HeaderText("IdVentaAuto").Visible(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                       col.Field("Restante").HeaderText("Restante").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                       col.Field("IdCliente").HeaderText("IdCliente").Visible(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();

                   }).AllowPaging().Toolbar(new List<string>() { "ExcelExport", "PdfExport", "Print"}).HierarchyPrintMode(Syncfusion.EJ2.Grids.HierarchyGridPrintMode.All).SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageSize(10)).Locale("es-mx").Render()
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function onChange(e) {
        var grid = document.getElementById("Grid").ej2_instances[0];
        grid.hierarchyPrintMode = grid.childGrid.hierarchyPrintMode = e.value;
    }
</script>
<script>

    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_pdfexport') {
            this.pdfExport(getPdfExportProperties());
        }
        if (args.item.id === 'Grid_excelexport') {
            this.excelExport(getExcelExportProperties());
        }
       
    }
    function getExcelExportProperties() {
        return {
            header: {
                headerRows: 7,
                rows: [
                    {
                        index: 1,
                        cells: [

                            { index: 1, colSpan: 8, value: 'Reporte de Pagos', style: { fontColor: '#C25050', fontSize: 25, hAlign: 'Center', bold: true } }
                        ]
                    },
                    {
                        index: 3,
                        cells: [
                            { index: 1, colSpan: 2, value: 'Tesla KE TJ', style: { fontColor: '#000000', fontSize: 15, bold: true } },

                        ]
                    },
                    {
                        index: 4,
                        cells: [
                            { index: 1, value: 'Telefono' },
                            { index: 3, value: '6641234567' },

                        ]
                    },
                    {
                        index: 5,
                        cells: [
                            { index: 1, value: 'Correo' },
                            { index: 3, colSpan: 2, value: 'TeslaKETJ@gmail.com', style: { fontColor: '#000000', bold: true } },

                        ]
                    },

                ]
            },

            footer: {
                footerRows: 5,
                rows: [

                    { cells: [{ colSpan: 6, value: 'Reporte de Pagos de Clientes', style: { fontColor: '#000000', hAlign: 'Center', bold: true } }] },

                ]
            },

            fileName: "ReporteDePagos.xlsx"
        };
    }

    function getPdfExportProperties() {
        return {
            header: {
                fromTop: 0,
                height: 120,
                contents: [
                    {
                        type: 'Text',
                        value: 'Reporte de Pagos',
                        position: { x: 280, y: 0 },
                        style: { textBrushColor: '#C25050', fontSize: 25 },
                    },
                    {
                        type: 'Text',
                        value: 'Tesla KE TJ',
                        position: { x: 20, y: 30 },
                        style: { textBrushColor: '#000000', fontSize: 20 }
                    },
                    {
                        type: 'Text',
                        value: 'TeslaKETJ@gmail.com',
                        position: { x: 20, y: 65 },
                        style: { textBrushColor: '#000000', fontSize: 11 }
                    },
                    {
                        type: 'Text',
                        value: 'Telefono: 6641234567',
                        position: { x: 20, y: 80 },
                        style: { textBrushColor: '#000000', fontSize: 11 }
                    },
                ]
            },
            footer: {
                fromBottom: 160,
                height: 100,
                contents: [
                    {
                        type: 'Text',
                        value: 'Reporte de Pagos de Clientes',
                        position: { x: 250, y: 20 },
                        style: { textBrushColor: '#000000', fontSize: 14 }
                    }
                ]
            },
            fileName: "ReporteDePagos.pdf"
        };
    }

</script>
<script id="Opciones2" type="text/x-template">
    <div class="btn-group">
        @*<a class="text-info" href="javascript:void(0)" onclick="Abonar()" data-toggle="tooltip" data-placement="top" title="Abonar">
                <i class="material-icons">local_atm</i>
            </a>*@
        <a class="text-info" href="javascript:void(0)" onclick="Abonar(${ id_Bitacora }, ${PagoMinimo})" data-toggle="tooltip" data-placement="top" title="Abonar">
            <i class="material-icons">local_atm</i>
        </a>
    </div>
</script>

<script>
    $(function () {
        $.get('@Url.Action("Lp", "Empleado")', function (data) {
            var grid = document.getElementById('Grid').ej2_instances[0]; // Grid instance
            grid.dataSource = JSON.parse(data);
        });
    });
</script>